// Specific CSS for your home-page
.home-page {
  &--banner {
    // @include set-background(center);
    background-position: center;
    background-size: cover;
    height: 250px;

    & > .container {
      height: 100%;
    }
  }
}
