

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
// @import "config/mixins";

//window appearance
@import "window/index";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

//models
@import "lists";
@import "bookmarks";

main {
  min-height: 80vh;
}

@media screen and (max-width: 850px) {
  main {
    min-height: 90vh;
  }
}
