// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bookmarks {
  &--card {

    @include set-background(center);

    position: relative;
    min-height: 350px;
    overflow: hidden;

    &__description {
      @include fixed-bottom;

      height: calc(100% - 120px);
    }
  }
}
